@import '@/assets/variables.scss';

.topic {
    width: 700px;
    max-height: 800px;
    background-color: $backgroundColorSecondary;
    box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
    padding: 10px;

    &__feed {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;
        width: 100%;
        padding: 10px;
    }


}