@import '../../../styles/variables.scss';
@import '../../../styles/grid.scss';

.profile {
    .box {
        width: 400px;
        margin: 0 auto;

        padding: 60px 0;
    }

    header {
        display: block;

        position: relative;
    }

    .avatar {
        right: 0;
        top: 0;
    }



    .formWrapper {
        width: 100%;
        background-color: var(--backgroundColor);
        padding: $padding_default;
        border-radius: calc($padding_default / 4);

        text-align: center;

        &.onOneLine {
            label {
                display: block;
                position: relative;
                color: var(--textColorAdd);
                text-align: left;

                & span {
                    display: block;
                    position: relative;
                    z-index: 1;

                    &::before {
                        content: "";

                        position: absolute;
                        top: 0;
                        left: 0;

                        width: 100%;
                        height: 100%;

                        border-bottom: 2px solid var(--textColor);
                    }
                }
            }

            input,
            input:-webkit-autofill,
            input:-webkit-autofill:hover,
            input:-webkit-autofill:focus,
            textarea:-webkit-autofill,
            textarea:-webkit-autofill:hover,
            textarea:-webkit-autofill:focus,
            select:-webkit-autofill,
            select:-webkit-autofill:hover,
            select:-webkit-autofill:focus {
                border: none;
                outline: none;

                -webkit-text-fill-color: none;
                -webkit-box-shadow: 0 0 0px 1000px rgba(0, 0, 0, 0) inset;
                background-color: rgba(0, 0, 0, 0);
                background: none;

                transition: all 5000s ease-in-out 0s;
            }

            input {
                position: absolute;
                display: block;
                height: auto;
                z-index: 0;
                top: 0;
                left: 0;
                right: 0;

                flex: 1;
                text-align: right;

                // color: var(--textColor);

                &::placeholder {
                    opacity: 0.35;
                }
            }
        }
    }
}

.avatar {
    position: absolute;
    width: 60px;
    height: 60px;

    float: right;

    border: 1px solid var(--backgroundColor);
    border-radius: 50%;

    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;

    background: var(--backgroundColor);

    &.empty {
        background: url("../../../assets/images/defaultAvatar.png") center center no-repeat;
        background-size: contain;
    }

    & img {
        width: 80%;
    }
}