@import '@/styles/variables.scss';

.leaderboard {
    width: 600px;
    margin-left: auto;
    margin-right: auto;

	margin-bottom: 20px;
    margin-top: 20px;
	border-collapse: collapse;
    color: #f0efea;
    border-radius: 5px;

    border-radius: 5px; // 1
    box-shadow: 0px 0px 0px 2px #95b1b0 inset;
    overflow: hidden;

    &__td {
        text-align: center; 
        vertical-align: middle;
        border: 2px solid #95b1b0;
        padding: 5px;
        height: 50px;
    }

    &__th {
        font-weight: bold;
        padding: 5px;
        background: #95b1b0;
        border: 1px solid #95b1b0;
        height: 50px;
    }
}

