@import '@/styles/variables.scss';

@property --game-score {
    syntax: "<integer>";
    initial-value: 0;
    inherits: false;
}

@keyframes text-shadow {
    0% {
        transform: translateY(0);
    }

    20% {
        transform: translateY(-1em);
    }

    40% {
        transform: translateY(0.5em);
    }

    60% {
        transform: translateY(-0.25em);
    }

    80% {
        transform: translateY(0);
    }
}

.gameoverBackground {
    width: 100%;
    height: 1080px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    z-index: 2;

    &_title {
        color: var(--textColorDarkMode);
        font-size: 215px;
        animation: text-shadow 1.5s ease-in-out;
        z-index: 1;

        margin-top: 250px;
    }


    &_score {
        color: #00b0bd;
        font-size: 90px;
        margin-top: 50px;
        transition: --game-score 5s;
        counter-set: game-score var(--game-score);
        text-shadow: 1px 1px 2px rgb(16, 16, 20), 0 0 1em blue, 0 0 0.2em blue;
    
        z-index: 1;
    }

    &_score:after {
        content: counter(game-score);

    }

    button {
        z-index: 5;
    }
}