@import '@/styles/variables.scss';

.header {
    display: flex;
    background-color: var(--backgroundColorSecondary);
    width: 100%;
    height: var(--headerHeight);
    align-items: center;
    padding: 0 15px;
}

.header__logo {
    height: var(--headerContentHeight);
}

.header__navigation {
    display: flex;
    flex-grow: 1;
    justify-content: end;
    align-items: center;
}

.header__links {
    display: flex;
    gap: 25px;
}

.header__link {
    @include link;
}

.header__link:hover,
.header__link_active {
    @include hoveredLink;
}

.header__changeColorMode {
    width: 25px;
    height: 25px;
}
