@import '@/styles/variables.scss';
@import '@/styles/grid.scss';

.header {
    min-width: 1100px;

    display: flex;
    background-color: var(--backgroundColorSecondary);
    width: 100%;
    height: var(--headerHeight);
    align-items: center;
    padding: 0 15px;
    z-index: 100;
    

    box-shadow: 0px 2px 16px var(--backgroundColorSecondaryReverse);
}

.header__logoWrapper {
    display: flex;
    align-items: center;
}

.header__title {
    font-size: 3em;
    text-transform: uppercase;
    letter-spacing: -3px;
}

.header__logo {
    height: var(--headerContentHeight);
    background-color: #000218;
    border-radius: 50%;

    margin-right: $margin_default;
}

.header__navigation {
    display: flex;
    flex-grow: 1;
    justify-content: end;
    align-items: center;
}

.header__links {
    display: flex;
    gap: 25px;
}

.header__link {
    @include link;
}

.header__link:hover,
.header__link_active {
    @include hoveredLink;
}

.header__changeColorMode {
    width: 25px;
    height: 25px;
}
