@import '@/assets/variables.scss';

.topic {
    width: $cardWidth;
    max-height: 800px;
    overflow: hidden;
    background-color: $backgroundColorSecondary;
    box-shadow: $boxShadow;
    padding: 10px;
    border-radius: 5px;

    &__header {
        margin-bottom: 10px;
        font-size: $fontSizeMedium;
    }

    &__body {
        font-size: $fontSizeSmall;
    }
}