@import '@/assets/variables.scss';

.normal {
    cursor: pointer;
    border: none;
    background-color: $buttonBackgroundColor;
    border-radius: 5px;
    font-size: $fontSizeMain;
    transition: background-color 0.3s ease;
    color: $textColorDark;
}

.medium {
    font-size: $fontSizeMain;
    padding: 8px 38px;
    font-weight: 500;
}
