@import '@/assets/variables.scss';

.normal {
    cursor: pointer;
    border: none;
    background-color: $buttonBackgroundColor;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    color: $textColor;

    &:hover {
        background-color: lighten($buttonBackgroundColor, 5%);
    }
}

.large {
    font-size: $fontSizeLarge;
    padding: 12px 86px;
    font-weight: 600;
}

.medium {
    font-size: $fontSizeMedium;
    padding: 8px 38px;
    font-weight: 500;
}

.small {
    font-size: $fontSizeSmall;
    padding: 4px 12px;
}
