@import '@/styles/variables.scss';

.topic {
    width: var(--cardWidth);
    max-height: 800px;
    overflow: hidden;
    background-color: var(--backgroundColorSecondary);
    box-shadow: var(--boxShadow);
    padding: 10px;
    border-radius: 5px;

    color: var(--textColor);

    &__header {
        margin-bottom: 10px;
        color: var(--textColor);
        font-size: var(--fontSizeMedium);

        a {
            color: var(--textColor);
        }
    }

    &__body {
        font-size: var(--fontSizeSmall);
    }
}