@import '@/styles/variables.scss';

.topic {
    width: var(--cardWidth);
    max-height: 800px;
    overflow: hidden;
    background-color: var(--backgroundColorSecondary);
    box-shadow: var(--boxShadow);
    padding: 10px;
    border-radius: 5px;

    &__header {
        margin-bottom: 10px;
        font-size: var(--fontSizeMedium);
    }

    &__body {
        font-size: var(--fontSizeSmall);
    }
}