/* common */

$backgroundColor: #009797;
$backgroundColorSecondary: #95b1b0;
$textColor: #f0efea;
$textColorSecondary: #80472d;
$alertColor: #ff8749;

$fontSizeLarge: 30px;
$fontSizeMedium: 20px;
$fontSizeSmall: 16px;

@mixin transition {
    transition: all 0.3s ease-in-out;
}

@mixin slowTransition {
    transition: all 0.6s ease-in-out;
}

/* button */

$buttonBackgroundColor: #324b4b;

/* header */
$headerHeight: 70px;
