/* common */

$backgroundColor: #3e92b3;
$backgroundColorSecondary: #7ecbd5;
$textColor: #f0efea;
$textColorSecondary: #f8cd6b;
$textColorDark: #3f4151;
$alertColor: #c1564b;

$fontSizeLarge: 30px;
$fontSizeMedium: 20px;
$fontSizeSmall: 16px;

/* button */

$buttonBackgroundColor: #fadd9c;

/* header */
$headerHeight: 70px;
