@import '@/styles/variables.scss';

button {
    cursor: pointer;
}

.normal {
    cursor: pointer;
    border: none;
    background-color: var(--backgroundButtonColor);
    border-radius: 5px;
    color: var(--textColor);
    @include slowTransition;

    &:hover {
        background-color: var(--backgroundButtonColor);
        filter: brightness(110%);
    }

    &:disabled,
    &[disabled] {
        cursor: default;
        background-color: var(--backgroundButtonColor);
        color: var(--textColor);
        filter: brightness(80%);
    }
}

.withoutBackGround {
    border: 2px solid var(--textColor);
    border-radius: 5px;
    background: none;
    color: var(--textColor);

    box-shadow: 0px 0px 4px var(--textColor);

    &:hover {
        background-color: var(--textColor);
        border-color: var(--textColorReverse);
        color: var(--textColorReverse);
    }

    &:active {
        scale: 0.8 0.8;
    }
}

.icon {
    border: none;
    color: var(--textColor);
    background-color: rgba(0,0,0,0);
}

.large {
    @include fontLarge;
    padding: 12px 86px;
}

.medium {
    @include fontNormal;
    padding: 8px 38px;
}

.small {
    @include fontSmall;
    padding: 4px 12px;
}
