@import '@/styles/variables.scss';

.normal {
    cursor: pointer;
    border: none;
    background-color: var(--buttonBackgroundColor);
    border-radius: 5px;
    color: var(--textColor);
    @include slowTransition;

    &:hover {
        background-color: var(--buttonBackgroundColor);
        filter: brightness(110%);
    }

    &:disabled,
    &[disabled] {
        cursor: default;
        background-color: var(--buttonBackgroundColor);
        color: var(--textColor);
        filter: brightness(80%);
    }
}

.withoutBackGround {
    cursor: pointer;
    border: none;
    color: var(--textColor);
    background-color: rgba(0,0,0,0);
}

.large {
    @include fontLarge;
    padding: 12px 86px;
}

.medium {
    @include fontNormal;
    padding: 8px 38px;
}

.small {
    @include fontSmall;
    padding: 4px 12px;
}
