@import '@/assets/variables.scss';

.header {
    display: flex;
    width: 100%;
    align-items: center;
}

.header__logo {
    display: flex;
    color: $colorText;
}

.header__navigation {
    display: flex;
    flex-grow: 1;
    justify-content: end;
    align-items: center;
}

.header__user-info {
}
