@import '@/assets/variables.scss';

.header {
    display: flex;
    background-color: $backgroundColorSecondary;
    width: 100%;
    height: $headerHeight;
    align-items: center;
    padding: 0 15px;
}

.header__logo {
    height: $headerContentHeight;
}

.header__navigation {
    display: flex;
    flex-grow: 1;
    justify-content: end;
    align-items: center;
}

.header__links {
    display: flex;
    gap: 25px;
}

.header__link {
    display: flex;
    color: $textColor;
    font-size: 20px;
    font-weight: 600;
    @include transition;
}

.header__link:hover,
.header__link_active {
    color: $textColorSecondary;
    text-decoration: underline;
}
