$bgColor_dark: #000218;
$bgColor_sub_dark: #344756;

$bgColor_light: #ffee00;
$bgColor_sub_light: #978000;

$bgColor_theme_1: $bgColor_dark;
$bgColor_sub_theme_1: $bgColor_sub_dark;

$bgColor_theme_2: $bgColor_light;
