:root {
    --boxShadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);

    --themeFlagDarkMode: 0;
    --themeFlagLightMode: 1;

    --textColorLightMode: #000218;
    --textColorDarkMode: #fbd809;
    --textColorOldMode: #f0efea;

    --textColorSecondaryLightMode: #ffffff;
    --textColorSecondaryDarkMode: #ffffff;

    --textColorAddLightMode: #ffb300;
    --textColorAddDarkMode: #ffb300;

    --alertColor: #ff8749;

    --backgroundColorDarkMode: #344756;
    --backgroundColorSecondaryDarkMode: #000218;
    --backgroundInputDarkMode: #d2d2d2;
    --backgroundButtonColorDarkMode: #595b82;

    --backgroundColorNormalMode: #009797;
    --backgroundColorSecondaryNormalMode: #95b1b0;
    --backgroundInputNormalMode: #fff;
    --backgroundButtonColorNormalMode: #324b4b;

    /* --backgroundColorLightMode: #fffaeb; */
    --backgroundColorLightMode: #ffffff;
      
    --backgroundColorSecondaryLightMode: #fbd809;
    --backgroundInputLightMode: #000218;
    --backgroundButtonColorLightMode: #324b4b;

    --textColor: var(--textColorLightMode);
    --textColorSecondary: var(--textColorSecondaryLightMode);
    --textColorAdd: var(--textColorAddLightMode);

    --backgroundColor: var(--backgroundColorLightMode);
    --backgroundColorSecondary: var(--backgroundColorSecondaryLightMode);
    --backgroundInput: var(--backgroundInputLightMode);
    --backgroundButtonColor: var(--backgroundButtonColorLightMode);

    --textColorReverse: var(--textColorDarkMode);
    --backgroundColorReverse: var(--backgroundColorDarkMode);
    --backgroundColorSecondaryReverse: var(--backgroundColorSecondaryDarkMode);
    --backgroundInputReverse: var(--backgroundInputDarkMode);
    --backgroundButtonColorReverse: var(--backgroundButtonColorDarkMode);

    --themeFlag: var(--themeFlagLightMode);

    --fontSizeLarge: 30px;
    --fontSizeMedium: 20px;
    --fontSizeSmall: 16px;

    --headerHeight: 100px;
    --headerContentHeight: 70px;
    --cardWidth: 700px;

    --size_large: 120px;
    --size_big: 60px;
    --size_medium: 48px;
    --size_default: 30px;
    --size_small: 24px;
    --size_x_small: 12px;

    --padding_big: 32px;
    --padding_medium: 24px;
    --padding_default: 16px;
    --padding_small: 12px;
    --padding_x_small: 8px;

    --margin_huge: 64px;
    --margin_large: 48px;
    --margin_big: 32px;
    --margin_medium: 24px;
    --margin_default: 16px;
    --margin_small: 12px;
    --margin_x_small: 8px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--backgroundColor);
    color: var(--textColor);
    font-family: monospace;
}

a {
    text-decoration: none;
    color: inherit;
}

h3 {
    font-size: 3em;
}

input {
    cursor: inherit;
}
