@import '@/styles/variables.scss';

.game {
    position: absolute;
    display: flex;
    width: 100%;
    height: 100%;

    left: 0;
    top: 0;

    align-items: center;
    justify-content: center;
    flex-direction: column;
    overflow: hidden;

    main {
        z-index: 1;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        overflow: hidden;

        

        &::after {
            opacity: 0.9;
            position: absolute;
            content: "";

            margin-left: -1000px;
            top: calc(-1000px + 160px);

            width: 600px;
            height: 600px;
            // border: 1000px solid rgba($color: #000000, $alpha: 0.9);
            border: 1000px solid #101010;

            transition: all 0.5s ease-in-out;

            filter: blur(10px);
        }
    }
}

main.default::after {
    opacity: 0;
}

main.default .game__canvas {
    opacity: 0;
}

.game__header {
    color: var(--alertColor);
    font-size: 50px;
}

.game__controls {
    color: var(--alertColor);
    font-size: var(--fontSizeMedium);
    padding: 10px;
}

.game__buttons {
    position: fixed;

    bottom: 60px;
    left: 0;
    right: 0;

    display: flex;
    justify-content: center;
    margin-top: 20px;
    gap: 20px;

    z-index: 2;
}

.game__canvas {
    z-index: 100;
    position: relative;
    border: 3px solid var(--textColorDarkMode);

    transition: all 0.5s ease-in-out;
}